In [2]:
for temp in range(0,20):
    print(temp)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for temp in range(10,20):
    print(temp, end=" ")

10 11 12 13 14 15 16 17 18 19

In [7]:
list=[10,20,14,55,43,87,76]
print(list)
print("No. of items in the List:")
print(len(list))

[10, 20, 14, 55, 43, 87, 76]
No. of items in the List:
7

In [14]:
print(A)
A=("Articial Intelligence")
for temp in A:
    print(temp)

Articial Intelligence
A
r
t
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [2]:
A=input("Name :")
B=int(input("Age :"))
C=input("Profession :")
print("-Your Name-",A)
print("-Your Age-",B)
print("-Your Profession-",C)

Name :Gopinath
Age :27
Profession :Engineer
-Your Name- Gopinath
-Your Age- 27
-Your Profession- Engineer

In [3]:
List=(1,"Welcome",2,"Hope")
print(List)

(1, 'Welcome', 2, 'Hope')

In [4]:
List1=(0,1,2,3)
List2=("Python","Hope")
List3=(List1,List2)
print(List3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [12]:
List1=[20,10,16,19,25,1,276,188]
For A in List1:
    if(A%2==1):
        print(A,"is odd")

SyntaxError: invalid syntax (<ipython-input-12-b56742564d62>, line 2)

In [22]:
list=[20,10,16,19,25,1,276,188]
for A in list:
    if((A%2)==1):
        print(A,"is odd")

19 is odd
25 is odd
1 is odd

In [24]:
list=[20,10,16,19,25,1,276,188]
for A in list:
    if((A%2)==0):
        print(A,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even